body {
  background-color:#BC8F8F;
}
h1 {
  color:white;
  font-family:georgia;
}
h2 {
  color:white;
  font-family:georgia
}

h3 {
  color:white;
  font-family:georgia;
}
ul {
  color:white;
  font-family:georgia;
}

p {
  color:white;
  font-family:georgia;
  font-size:larger;
}
