body {
  background-color:#BC8F8F;
}
h1 {
  color:white;
  font-family:georgia;
  text-align:center;
}
h2 {
  color:white;
  font-family:georgia
  text-align:center;
}

h3 {
  color:white;
  font-family:georgia;
  text-align: center;
}

li {
  color:white;
  font-family:georgia;
}

p {
  color:white;
  font-family:georgia;
  text-align:center;
}

a[href] {
  color:midnightblue;
  text-align:center;
}
