body {
  background-color:#BC8F8F;
}
h1 {
  color:white;
  font-family:georgia;
  text-align:center;
}

h2 {
  color:white;
  font-family:georgia
  text-align:center;
}

h3 {
  color:white;
  font-family:georgia;
}

li {
  color:white;
  font-family:georgia;
}

p {
  color:white;
  font-family:georgia;
  font-size:3vw;
}

a[href] {
  color:midnightblue;
}

div {
  font-size:3vw;
}

figcaption {
  color:white;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
